@model List<ServiceDTO>
@{
    ViewData["Title"] = "BHHC Service Directory";
}

<div class="row">
    <div class="col-md-3">
        <h2>Search</h2>
    </div>
</div>
<div class="row">
    @foreach (var dto in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@dto.Name</h5>
                    <p class="card-text">@dto.Description</p>
                    <a href="#" class="btn btn-primary">@dto.DevURL</a>
                </div>
            </div>
        </div>
    }
</div>
